body {
    font-family: 'sans-serif';

}

.center {
    text-align: center;
    margin: 0 auto;
}

#start-screen, #play-screen, #finish-screen {
    display: inline-block
}

#start-screen {
    background-image: url('../Media/animation-vertical.gif');
    background-repeat: no-repeat;
    background-size: 400px 650px;
    background-position: center;
    margin-top: -15px;
}