body {
    font-family: 'sans-serif';
}

.center {
    text-align: center;
}

#start-screen, #play-screen, #finish-screen {
    display: inline-block;
    
}

#start-screen {
    background-image: url('Media/animation-vertical.gif');
    background-repeat: no-repeat;
    background-size: 400px 650px;
    background-position: center;
}

#finish-screen {
    position: relative;
}

#finish-elements{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 400px;
    height: 650px;
}

.main-title, .game-over-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    line-height: 90px;
}

.main-title {
    margin-top: 45%;
}

.game-over-title {
    margin-top: 35%;
}

.score-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: white;
}

.fact-container {
    
}

.fact-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    padding: 5%;
    margin: 2em 2em;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}

.button-start, .button-restart {
    font-family: 'Gaegu', sans-serif;
    align-self:center;
    background:transparent;
    padding:6px 32px;
    transition:all .5s ease;
    color: white;
    font-size: 35px;
    letter-spacing:1px;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px white;
}

.button-start:hover, .button-restart:hover{
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    cursor: pointer;
}

h2, h3 {
    margin: 0;
}